/*
    CSS for anything related to forms (e.g. buttons, links)
*/

.sidebar-toggle-btn {
    display: none;
    color: #ffffff;
    cursor: pointer;
}

.sidebar-toggle-btn svg {
    vertical-align: baseline;
}

.log-out-btn {
    margin-left: auto;
    background-color: inherit;
    border: none;
    font-weight: 600;
}

.log-out-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.log-out-btn:focus {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: inherit;
    box-shadow: none;
}

.log-out-btn:active {
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-color: inherit !important;
    box-shadow: none !important;
}

.btn {
    font-size: 0.875rem !important;
    border: none;
}

.pai-btn {
    background-color: #ffffff;
    color: #5e72e4;
}

.pai-btn:hover {
    background-color: #0069d9;
    color: #ffffff;
}

.report-export-btn {
    position: relative;
    z-index: 11;
    float: right;
}

.survey-filter-btn {
    float: right;
}

.pai-date input {
    font-size: 0.875rem;
}

.pai-date table tr td {
    height: 36px;
    width: 36px;
    border: none;
    border-radius: 50%;
    text-align: center;
}

.rdtPicker {
    padding: 20px;
    width: 300px;
}

.rdtPicker th.rdtNext, .rdtPicker th.rdtPrev {
    height: 36px;
    width: 36px;
    border: none;
    border-radius: 0.375rem;
    vertical-align: middle;
    text-align: center;
    font-size: 0.875rem;
}

.rdtPicker th.rdtSwitch, .rdtPicker tr .dow {
    height: 36px;
    border: none;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    text-align: center;
    font-weight: 500;
}

.rdtPicker th.rdtSwitch, .rdtPicker tr .dow {
    height: 36px;
    width: 36px;
    text-align: center;
    border: none;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 500;
}

.rdtDays tr .rdtDay {
    font-size: 0.875rem;
    color: #525f7f;
}

.rdtDays tr .rdtDay.rdtNew, .rdtDays tr .rdtDay.rdtOld {
    color: #adb5bd;
    font-weight: 300;
}

.rdtPicker .rdtTimeToggle:hover, .rdtPicker .rdtTimeToggle:hover:before, .rdtPicker td.rdtDay:hover, .rdtPicker td.rdtHour:hover, .rdtPicker td.rdtMinute:hover, .rdtPicker td.rdtSecond:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.rdtDay.end-date, .rdtDay.end-date:hover, .rdtDay.middle-date, .rdtDay.middle-date:hover, .rdtDay.rdtActive, .rdtDay.rdtActive:hover, .rdtDay.rdtToday.rdtActive, .rdtDay.start-date, .rdtDay.start-date:hover {
    background-color: #11cdef !important;
    color: #ffffff !important;
}

.pai-checkbox {
    position: relative;
    width: 1.1rem;
    height: 1.1rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    background-color: #ffffff;
}

.pai-checkbox.checked {
    border: none;
    background-color: #5e72e4;
}

.pai-checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 0.9rem;
}

@media screen and (max-width: 991px) {
    .sidebar-toggle-btn {
        display: block;
    }
}
