@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

/*
    Main CSS that will affect everything.
    Import this css AFTER the dependencies' CSS and BEFORE the user defined CSS from ./Styles
*/
body {
  margin: 0;
  padding: 0;
  font-family: Open Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f9fe;
  color: #525f7f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
    font-size: 1.625rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.0625rem;
}

h4 {
    font-size: 0.9375rem;
}

h5 {
    font-size: 0.8125rem;
}

h6 {
    font-size: 0.625rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.5;
    color: #32325d;
}

select {
    font-size: 0.875rem !important;
}

.btn {
    font-size: 0.875rem !important;
}

.card {
    border-radius: 0.375rem;
}
